{% load static %}
<!DOCTYPE html>
<html lang="en" id="htmlPage">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vedika's Blog</title>
    <!--the next line brings in bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--putting it after the bootstrap line will make the css file override the bootstrap-->
    <link id="theme" rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
  </head>

  <body>
    <div class="container1">
    <hr>
    <!--to go back to home page, use home because in the urls.py, you defined the path to be just homes-->
    <a href = "{% url 'home' %}" class="link-underline link-underline-opacity-0"><h1 class = "text-center text-success">Vedika's Blog</h1></a>
    <hr>
  
    <header>
      <!--<div class="sunray">
        <br>
      </div>-->
      <div>
        <button onclick="toggleTheme('summer.css')">Summer</button>
        <button onclick="toggleTheme('fall.css')">Fall</button>
        <button onclick="toggleTheme('winter.css')">Winter</button>
        <button onclick="toggleTheme('spring.css')">Spring</button>
      </div>
    </header>

      <div class="cloud">
        <!--container is only used by styles.css for the basic styling. container1 does the background for summer-->
        <!--cloud has the special effects for summer, does not include the buttons in the header-->
        <section>
          <!--section is for fall-->
        <div class = "container">
          {% block content %}
          <!--this is where all our code goes-->
          <!--all the posts are loaded here, the stuff in home.html-->
          <div class="leaf1"></div>
          <div class="leaf2"></div>
          <div class="leaf3"></div>
          <div class="leaf4"></div>
          {% endblock %}
        </div>
      </section>
    </div>
  </div>


  </body>
</html>