body{
    font-family:monaco;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color:black; 
}

/*the theme switcher stuff is in the header*/
header{
    text-align:center;
    font-size:30px;
}

.container1{
    position:absolute;
    width:100%;
    height:100%;
    /*image for free from istock*/
    background:url(https://media.istockphoto.com/id/1616269561/vector/autumn-leaf-background.jpg?s=612x612&w=0&k=20&c=lJWl6QxCcKvyNmrjVcp7GWelM7m4QnI2J5mTrnyG2Yg=);
    background-size: 100% 100%;
    /*overflow hidden prevents scrolling so image covers whole page*/
    overflow:hidden;
}

section{

}

.leaf1{
    background:url(https://www.pngkey.com/png/full/930-9306416_autumn-leaves-clipart-chinar-autumn-maple-leaf-png.png);
}

.leaf2{
    background:url(https://assets.simpleviewinc.com/simpleview/image/upload/c_mpad,q_75,w_297/v1/clients/newyorkstate/hornbeam_da192ef6-6ce2-428f-88ae-30afc9cccdeb.png);
}
.leaf3{
    background:url(https://png.pngtree.com/png-clipart/20210905/original/pngtree-autumn-falling-leaves-fall-png-image_6695950.jpg);
}
.leaf4{
    background:url(https://dejpknyizje2n.cloudfront.net/media/carstickers/versions/fall-leaves-autumn-season-watercolor-illustration-sticker-u1e1f-x450.png);
}

@keyframes animate{
    0%{background-position:0px;}
   100%{background-position:8000px;}
}

