body{
    font-family:monaco;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color:black;
}

/*the theme switcher stuff is in the header*/
header{
    text-align:center;
    font-size:30px;
    padding:20px;
}

.container1{
    position:absolute;
    width:100%;
    height:100%;
    /*image for free from vecteezy*/
    background:url(https://static.vecteezy.com/system/resources/thumbnails/020/580/331/small/abstract-smooth-blur-blue-color-gradient-mesh-texture-lighting-effect-background-with-blank-space-for-website-banner-and-paper-card-decorative-modern-graphic-design-vector.jpg);
    background-size: 100% 100%;
    /*overflow hidden prevents scrolling so image covers whole page*/
    overflow:hidden;
    /*use this for the sun rays from png key for free - 
    https://www.pngkey.com/png/full/2-23864_transparent-sun-ray-ray-of-sunshine-png.png*/
    /*can do same animation thing like maybe move the rays side to side, or try to make it move at an angle*/
}

/*.sunray{
    background:url(https://www.pngkey.com/png/full/2-23864_transparent-sun-ray-ray-of-sunshine-png.png);
    animation: spin 3s linear infinite;
    position:absolute;
}
@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}*/


.cloud{
    position:absolute;
    width:100%;
    height:100%;
    /*image for free from yopriceville gallery*/
    background:url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Cloud-PNG/Fluffy_Cloud_Large_Transparent_Image.png?m=1629830703);
    animation:animate 120s linear infinite;
    background-size: cover;
}

@keyframes animate{
    0%{background-position:0px;}
   100%{background-position:8000px;}
}
